.letsFadeIn {
    animation: fadeIn linear forwards 2s 3s;
    -webkit-animation: fadeIn linear forwards 2s 3s;
    -moz-animation: fadeIn linear forwards 2s 3s;
    -o-animation: fadeIn linear forwards 2s 3s;
    -ms-animation: fadeIn linear forwards 2s 3s;
}

@keyframes fadeIn {
    0% {

        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.letsFade {
    opacity: 0;
    height: 0px;
    animation: fadeOut 1s;
    -webkit-animation: fadeOut 1s;
    -moz-animation: fadeOut 1s;
    -o-animation: fadeOut 1s;
    -ms-animation: fadeOut 1s;
}

@keyframes fadeOut {
    0% {

        opacity: 1;
        height: 0px;
    }

    100% {
        opacity: 0;
        height: 0px;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}